table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px;
    border: 3px dashed rgb(246, 247, 211);
}

#table {
    border: none;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2d5;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #000;
    color: rgba(245, 245, 245, 0.932);
    font-size: 22px;
}

td {
    font-size: 22px;
}